@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap");

body {
  width: 100vw;
  height: 100vh;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Karla", sans-serif;
}

.hidden {
  display: none;
}

.greeting {
  font-size: 50px;
  font-weight: 600;
  margin-bottom: 100px;
}

.clock {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.clock__cloud {
  width: 50%;
  height: 200px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 
.clock__cloud h1 {
  font-size: 80px;
} */

/* .cloud {
  margin-top: 70px;
  width: 350px;
  height: 120px;
  background: #eceff1;
  box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 100px;
}
.cloud::after,
.cloud::before {
  content: "";
  position: relative;
  display: inline-block;
  background: inherit;
  border-radius: inherit;
}
.cloud::after {
  width: 100px;
  height: 100px;
  top: -220px;
  left: 50px;
}
.cloud::before {
  width: 180px;
  height: 180px;
  top: -70px;
  left: 130px;
} */

.todo-form input {
  width: 200px;
  height: 20px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid black;
}

.todo-list {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
